<template name="vis_options">
  <form>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default js-vis-goals">Goals</button>
      <button type="button" class="btn btn-default js-vis-assists">Assists</button>
      <button type="button" class="btn btn-default js-vis-points" autofocus="true">Points</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default js-vis-3d">3D</button>
      <button type="button" class="btn btn-default js-vis-bar">Top 3 per team</button>
      <button type="button" class="btn btn-default js-vis-bubble" autofocus="true">Bubbles</button>
    </div>
  </form>
</template>
