<template name="userItem">
	<tr>
				<td>{{profile.full_name}}</td>
				<td>{{gh_user_email _id}}</td>
				<td>{{createdAt}}</td>
				<td>{{last_login}}</td>
				<td>{{updatedOn}}</td>
				<td>{{gh_user_full_name updatedBy}}</td>
				<td class="align-center"><a href="{{pathFor 'userEdit' id=this._id}}" class="glyphicon glyphicon-edit"></a></td>
				<td class="align-center"><a href="#" class="glyphicon glyphicon-remove js-del-user"></a></td>
	</tr>
</template>

<template name="userEdit">
  {{#autoForm schema="Schema.User" collection="Meteor.users" id="userEdit" type="update" doc=this}}
    <fieldset>
      <legend>Edit User</legend>
        {{> afQuickField name="profile.full_name"}}
{{#if isInRole 'admin'}}
        {{> afQuickField name="roles" options=roleOptions noselect=true type="select-checkbox-inline"}}
{{/if}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
</template>

<template name="userDelete">
	<div class="modal fade" id="userDelete">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Delete</h4>
		  </div>
		  <div class="modal-body">
			<p>Are you sure you want to delete {{gh_user_full_name gh_selected_user}}?</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-danger js-del-user-confirm" data-dismiss="modal">Yes. Delete {{gh_user_full_name gh_selected_user}}</button>
		  </div>
		</div>
	  </div>
	</div>  
</template>
