<template name="shoppingCart">
  <div class="list-left col-md-6">
    <div class="well text-left">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">
          # of players
          <span class="badge">{{numOfPlayers}}</span>
        </button>
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          {{teamCost}}
        </button>
      </div>
    </div>
  </div>
</template>
