<template name="mainTabs">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="{{pathFor myPicks}}" }} aria-controls="myPicks" role="tab" data-toggle="tab">My Teams</a></li>
      <li role="presentation"><a href="{{pathFor standings}}" aria-controls="standings" role="tab" data-toggle="tab">Standings</a></li>
      {{#if isInRole 'admin'}}
      <li role="presentation"><a href="{{pathFor userList}}" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
      <li role="presentation"><a href="{{pathFor settings}}" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      {{/if}}
    </ul>
  </div>
</template>
